<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ReDirectStdio" value="false"/>
		<add key="DetectDuplicateImages" value="false"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="RIP2Image.ConverterService">
				<endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding2" contract="RIP2Image.IConverterService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://127.0.0.1/RIP2Image/ConverterService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<customBinding>
				<binding name="CustomBinding2">
					<textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
					<httpTransport allowCookies="false"/>
				</binding>
			</customBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
