<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="c:\\XMPLogs\\RIP2Image\\log.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
	
	<system.serviceModel>
		<services>
      <service behaviorConfiguration="ServiceBehavior" name="RIP2Jmage.ConverterService">
          <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding2"
              contract="RIP2Jmage.IConverterService" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
              <baseAddresses>
                  <add baseAddress="http://127.0.0.1/RIP2Jmage/ConverterService" />
              </baseAddresses>
          </host>
      </service>
  </services>
		<bindings>
			<customBinding>
				<binding name="CustomBinding2">
					<textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
					<httpTransport allowCookies="false"/>
				</binding>
			</customBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>